body {
    background-color: rgb(20, 19, 19);
    text-align: center;
    font-family: 'serif';
}
#title {
    color:rgb(10, 139, 5);
    text-shadow: 2px 2px 10px rgb(17, 116, 4);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
#christmasTree {
    font-weight: bold;
    color:rgb(10, 139, 5);
}
#christmasTree>p {
    margin: 0;
}
#star {
    font-size: 2.0vw;
    color: rgb(250, 250, 25);
    text-shadow: 0px 0px 35px rgb(255, 251, 0);
}
.blue {
    color:rgb(0, 47, 255);
    text-shadow: 0px 0px 25px rgb(0, 17, 255);
}
.red {
    color: rgb(245, 4, 4);
    text-shadow: 0px 0px 25px rgb(255, 8, 0);
}
.yellow {
    color: rgb(250, 250, 25);
    text-shadow: 0px 0px 25px rgb(255, 251, 0);
}
.orange {
    color: rgb(255, 123, 0);
    text-shadow: 0px 0px 25px rgb(255, 123, 0);
}
.purple {
    color: rgb(64, 0, 241);
    text-shadow: 0px 0px 25px rgb(132, 6, 235);
}
.log {
    color: rgb(102, 56, 13);
    font-size: 1.5vw;
}